---
layout: page
title: Wiki
description: 'Encyclopedic reference on people, places, events, and concepts related to Leo Tolstoy.'
permalink: /wiki/
---
<ul class="flow">
  {%- for entry in collections.allWiki -%}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a>{% if entry.data.type %} <span class="wiki-entry__type">{{ entry.data.type }}</span>{% endif %}</li>
  {%- else -%}
    <li>No wiki entries yet.</li>
  {%- endfor -%}
</ul>
